*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  font-size: 62.5%; //1rem = 10px

  @media screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media screen and (max-width: $bp-smaller) {
    font-size: 40%;
  }



}

body {
  box-sizing: border-box;

}