//COLORS
$color-primary-1: #6954A1;
$color-primary-2:#904096;
$color-primary-3: #D13B63;
$color-primary-4:#F59546;
$color-primary-5:#F6A74F;
$color-primary-dark: #7441EA;
$color-primary-light:#b083fd;
$color-black: #000;
$color-white: #fff;
$color-grey-light: rgb(219, 219, 219);

//MARGINS:

$mar-small: 2rem;
$mar-medium: 4rem;
$mar-large: 6rem;

//Media queries:
$bp-smaller: 28.1em;
$bp-medium: 50em;
$bp-large: 75em;