.container {
  display: grid;

  grid-template-rows: 80vh min-content repeat(5, min-content);
  grid-template-columns: [sidebar-start] 20rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media screen and (max-width: $bp-medium) {
    grid-template-rows: max-content minmax(80vh, max-content) min-content repeat(5, min-content);
    grid-template-columns: [ full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}